:root {
    --odd-bgColor: #242a34;
    --even-bgColor: #181e27;
    --text-hover: #0386f9;

    --header-height: 10vh;
    --section-height: 90vh;
    --container-height: 70vh;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    /* outline: 1px solid black; */
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
}

.my-photo {
    border-radius: 50%;
}

.small-photo {
    width: var(--header-height);
    height: var(--header-height);
}

.medium-photo {
    width: min(70vw, 70vh);
    aspect-ratio: 1 / 1;
}

header {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    display: flex;
    background-color: var(--even-bgColor);
    z-index: 1;
}

a {
    text-decoration: none;
    color: white;
}

.header-photo {
    height: var(--header-height);

    flex-grow: 5;
    display: flex;
    justify-content: center;
}

.nav-bar {
    flex-grow: 5;
    height: var(--header-height);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.nav-bar a {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 1rem;
}

.nav-bar a:hover {
    color: var(--text-hover);
    background-color: var(--even-bgColor);
}

/* Hamburger menu */
.hamburger {
    display: none;
}

@media (max-width: 600px) {
    .bar {
        width: 4rem;
        height: .5rem;
        background-color: white;
        margin: 5px;
        transition-duration: .5s;
    }

    .hamburger {
        display: contents;
        position: absolute;
        top: calc(var(--header-height)/2);
        right: 0;
        transform: translateY(-50%);

    }

    div.hamburger {
        display: flex;
        flex-direction: column;

        z-index: 2;
    }

    input.hamburger {
        display: block;

        z-index: 3;
        height: 4rem;
        width: 4rem;
        opacity: 0;
        cursor: pointer;
    }

    input[type="checkbox"]:checked~.nav-bar {
        transform: translateX(100%);
    }

    input[type="checkbox"]:checked~.hamburger>.bar1 {
        transform: translateY(1.05rem) rotate(45deg);
    }

    input[type="checkbox"]:checked~.hamburger>.bar2 {
        display: none;
    }

    input[type="checkbox"]:checked~.hamburger>.bar3 {
        transform: rotate(-45deg);
    }

    .nav-bar {
        flex-grow: unset;

        z-index: 1;
        position: fixed;
        left: -100%;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: var(--even-bgColor);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        transition-duration: 0.5s;
    }
}



section:nth-child(odd) {
    background-color: var(--odd-bgColor);
}

section:nth-child(even) {
    background-color: var(--even-bgColor);
}

section {
    width: 100%;
    min-height: 90vh;
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
}

section h2 {
    text-align: center;
    margin: 2.5rem 0;
    font-size: 2.5rem;
}

.home-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.home-self-intro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home-self-intro {
    font-size: clamp(1.5rem, 2.5vw, 4rem);
}

/* About me section */

.aboutMe-container {
    min-height: 70vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.abt-me-card {
    min-height: 20vh;
    flex-basis: 100%;
    margin: 2rem;
    padding: 2rem;
    background-color: var(--odd-bgColor);
    border-radius: .5rem;
    justify-content: center;
}

.abt-me-card p {
    margin: 1rem 0;
}

.bio {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.prog-tools {
    text-align: center;
}

.prog-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.prog-container ul li {
    margin: .5rem 0;
}

ul {
    list-style-type: none;
}

.next {
    align-self: center;
}

.next button {
    border: none;
    background-color: #0386f9;
    color: black;
    padding: 1rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: .5s ease;
}

.next button:hover {
    background-color: #004179;
    color: white;
}

/* Projects */

.pj1 {
    background-size: cover;
    background-image: url(../img/food-recipes.png);
}

.pj2 {
    background-size: cover;
    background-image: url(../img/pomo.png);
}

.pj3 {
    background-size: cover;
    background-image: url(../img/food-ordering.png);
}

.pj-container {
    min-height: 70vh;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.pj-container>article {
    margin: 2rem .5rem;

}

.pj-content {
    max-width: 20rem;
    height: 20rem;
    border-radius: .5rem;
    background-size: cover;
    transition: .5s ease;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
}


.pj-details {
    padding: .5rem;
    transition: 1s ease;
    background: rgba(0, 0, 0, 0.5);
}

.pj-details a {
    display: inline-block;

    padding: .5rem;
    background-color: #0386f9;
}

@media (hover: hover) {
    .pj-content {
        max-width: 10rem;
        height: 10rem;

        background-size: cover;
        border-radius: 50%;
        transition: .5s ease;
        overflow: hidden;
        display: flex;
        align-items: center;
    }

    .pj-details>*:not(h3) {
        display: none;
    }

    .pj-content:hover {
        max-width: 20rem;
        height: 20rem;
        border-radius: .5rem;
        align-items: flex-end;
    }

    .pj-content:hover .pj-details>*:not(h3) {
        display: block;
    }

    .pj-details a:hover {
        background-color: #034176;
    }

}

/* Contact */

.icon-wrapper {
    display: inline-block;
    padding: .5rem;
    border-radius: 50%;
    background-color: white;
    margin-left: .5rem;
}

.icon {
    width: 3rem;
}

.contact-container {
    min-height: 70vh;
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    align-items: center;
}

.contact-media ol {
    list-style-type: none;
}

.contact-media ol li {
    margin: 1rem 0;
}

.contact-media ol li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.contact-media ol li a:hover {
    transform: scale(1.05);
    color: var(--text-hover);
}

.contact-email {
    font-size: 1.5rem;
}

.contact-email a {
    cursor: pointer;
}

.contact-email a:hover {
    color: var(--text-hover);
}

@media (min-width: 40rem) {
    section h2 {
        text-align: unset;
        margin-left: 5rem;
    }

    .abt-me-card {
        flex-basis: 40%;
    }

    .pj-container {
        flex-direction: row;
    }

    .contact-container {
        flex-direction: row;
    }
}